body,html {
  height: 100%;
}

* {
  font-family: 'Oxygen', sans-serif;
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  padding: 0 20px;
}

input{
  display: inline;
}
svg {
        position: relative;
    }

path {
    /*fill: #ffd800;*/
    /*fill-opacity: .1;*/
    opacity: .3;
    stroke-width: 1;
}

path:hover {
    stroke-width: 3;
        /*fill: brown;*/
        /*fill-opacity: .7;*/
}

.nodes {
    fill: #BF55EC;
    opacity: .8;
    /*fill-opacity: .2;*/
}

.nodes:hover {
        fill: brown;
        /*fill-opacity: .7;*/
}


#map {
  position: absolute;
  top:0px;
  left:0px;
  margin-top: 0px;
  display: block;
  width: 100%;
  height: 100%;

  min-height: 750px;
  background-color: #ddd;
}
#trends{
  background-color:#000;
  width:300px;
  left:300px;
  z-index:1000;
  margin-right:auto;
  margin-left:auto;
  position:relative;
  opacity: .5;
  color:white;
}

#recentRelevantTweetsContainer {
  width: 200px;
  cursor:pointer;
}

#recentRelevantTweets {
  position:absolute;

  width: 15%;
  height: 100%;
}

.realTime-Tweets {
  position: absolute;
  top:0px;
  right:0px;
  border:1px solid black;
  height:100%;
  overflow: hidden;
  background-color:#222;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.eachTweet {
  border-top:3px solid white;
  border-bottom:3px solid white;
  margin-bottom:3px;
  padding-bottom: 7px;
}

.relevantTweets {
  color:white;
}

.search {
  position: absolute;
  top:75px;
  left:0px;
  z-index: 7;
}

button {
  position: absolute;
  left: 175px;
  top: 0px;
}

.form {
  height:30px;

}
.form-control {
  display: inline-block !important;
}
.search button {
  display:inline-block;
}


nav {
  position: absolute;
  top:0px;
  left: 0px;
  z-index: 100;
  background: #2F2F2F;
  padding:10px;
  border-left:3px solid black;
  border-right:3px solid black;
  border-bottom: 3px solid black;
  border-radius:5px;
}

nav ul li {
  font-size: 22px;
}

nav ul li a {
  color: #32CD32;
}




